
body
{
    background-image: url("/pictures/fond.jpg");
}


.R{
    border: black;
    padding-left: 150px;
    margin-top: 70px;
    float: left;
    transition: transform .1s;  

}


img{
    border-radius: 50px;
    transition: transform .1s;  
}

.vignettes:hover{
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25); 
    transform: scale(1.25);
    
}
  

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgb(206, 200, 200);
  }

  .mentions-legales {
    text-decoration: none; 
    color: white; 
 }

 @keyframes complexAnimation {
    0% {
        transform: scale(1) rotate(0deg);
        color: blue;
    }
    50% {
        transform: scale(1.2) rotate(360deg);
        color: red;
    }
    100% {
        transform: scale(1) rotate(0deg);
        color: blue;
    }
}


img.vignettes{
    height: 220px !important;
    width: 220px !important;
  }



@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    animation: rotateAnimation 5s infinite;
}





